.detail_container {
  position: relative;
  top: 30px;
  left: 50%;
  margin-left: -120px;
}

.detail_text {
  position: absolute;
  left: -5%;
}

.detail_title {
  font-size: 24px;
}

.detail_genres {
  opacity: 0.7;
}

.detail_summary {
  margin-top: 20px;
  width: 400px;
}

.detail_map_genre {
  list-style: none;
  margin-right: 10px;
}

.detail_genres {
  display: flex;
  justify-content: flex-start;
}
